
<div class="contact">
    <div class="container">
        <div class="row">
    <div class="col-md-6 col-xl-5 mb-4">
      <div class="card">
        <div class="card-body">
            <h5 *ngIf="validationError" class="alert alert-danger">{{validationError}}</h5>
          <form [formGroup]="userRegister" (ngSubmit)="Save(userRegister.value)">
            <p class="h4 text-center mb-4">Sign up</p>
            <div class="md-form">
               <i class="fa fa-user prefix grey-text"></i>
               <label for="materialFormRegisterNameEx">First Name</label>
               <input type="text" class="form-control"
                placeholder="enter your first name"
                formControlName="FirstName"
                [class.is-valid]="userRegister.get('FirstName').valid && submitted"
                [class.is-invalid]="!userRegister.get('FirstName').valid && submitted"
                >
            
            </div>
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <label for="materialFormRegisterNameEx">Last Name</label>
                <input type="text" class="form-control"
                 placeholder="enter your last name"
                 formControlName="LastName"
                 [class.is-valid]="userRegister.get('LastName').valid && submitted"
                 [class.is-invalid]="!userRegister.get('LastName').valid && submitted"
                 >
             
             </div>

             <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <label for="materialFormRegisterNameEx">Mobile No</label>
                <input type="text" class="form-control"
                 placeholder="enter your mobile number"
                 formControlName="MobileNo"
                 [class.is-valid]="userRegister.get('MobileNo').valid && submitted"
                 [class.is-invalid]="!userRegister.get('MobileNo').valid && submitted"
                 >
             
             </div>

            <div class="md-form">
               <i class="fa fa-envelope prefix grey-text"></i>
               <label for="materialFormRegisterEmailEx">Your email</label>
               <input type="email" 
                placeholder="enter your email id"
               class="form-control"
               formControlName="EmailId"
               [class.is-valid]="userRegister.get('EmailId').valid && submitted"
               [class.is-invalid]="!userRegister.get('EmailId').valid && submitted"
               >
            
            </div>
            <div formGroupName="UserLogin">
                <div class="md-form">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                    <label for="materialFormRegisterConfirmEx">UserName</label>
                    <input type="text" placeholder="enter your username"
                    class="form-control"
                    formControlName="UserName"
                    [class.is-valid]="userRegister.get('UserLogin').get('UserName').valid && submitted"
                    [class.is-invalid]="!userRegister.get('UserLogin').get('UserName').valid && submitted"
                    >
        
                 </div>
                 <div class="md-form">
                   <i class="fa fa-lock prefix grey-text"></i>
                   <label for="materialFormRegisterPasswordEx">Your password</label>
                   <input type="password" 
                    placeholder="enter your password"
                   class="form-control"
                   formControlName="Password"
                   [class.is-valid]="userRegister.get('UserLogin').get('Password').valid && submitted"
                   [class.is-invalid]="!userRegister.get('UserLogin').get('Password').valid && submitted"
                   >
                 </div>
            </div>
          
            <div style="margin:10px">
                <button type="submit" class="btn btn-danger btn-md">
                    Submit
                </button>
            </div>
              
         </form> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <h2>User Login</h2>
    <app-login></app-login>
    </div>

  </div>


</div>

        </div>